// Primary Colors
$primaryGreen:#6BBD58;
$lightGreen:#DEF6DE;
$primaryPahadiCitrus: #F04E23;
$white: #ffffff;
$red: #FF0707;

// Primary Green Colors Shades
$primaryGreenSG400:#B0DDA7;
$primaryGreenSG300:#C8E6C8;
$primaryGreenSG200:#F1FFEE;
$primaryGreenSG100:#F0FAF0;

// Primary Pahadi Citrus Colors Shades
$primaryPahadiCitrusPC400:#FE8B6C;
$primaryPahadiCitrusPC300:#F7B2A1;
$primaryPahadiCitrusPC200:#F9D2C7;
$primaryPahadiCitrusPC100:#FCF0ED;

// Secondary Colors
$secondaryDeepGreen: #006E5A;
$secondaryCandyPink: #D97878;
$secondaryAcaiBerry: #812C6D;
$secondaryFloralViolet: #474390;
$secondaryGulabiPink: #EB6B7E;
$secondarySkyBlue: #00BBD6;
$secondaryTurmericYellow: #FECC0E;

// Grey Scale
$black: #000000;
$gray:#424242;
$off-gray:#7E7E7E;
$light-gray:#F5F5F5;
$light:#F2F2F2;
$off-light:#BDBDBD;
$border-gray:#E0E0E0;